# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
__pycache__
__tests__
config.js
.vscode
poetry.lock
.env
commands.txt
backend/db.sqlite3
backend/firebase.json
volumes/mysql/
*migrations*